.counter-box{
    width: 600px;
    background-color: #FEFFEA;
    border: 5px groove black;
    padding: 20px;
}

.counter-text{
    font-size: 154px;
}

body{
    background-color: rgb(252, 252, 98)!important;
}